<p id="notice"><%= notice %></p>

<h1 class='repos-title'><%= "Listing Repos#{@term ? ' That Match "' : ''}#{@term ? @term + '"': ''}" %></h1>

<%= text_field_tag 'term', @term, placeholder: 'Enter search term' %>
<%= tag 'input', type: 'button', value: 'Search', onclick: "term=$('input').val();window.location='/repos?term='+term" %>

<ul class='repos-list'>
  <% @repos.each do |repo| %>
    <li>
      <div>
        <strong>Name: </strong><a href=<%= "https://github.com/artsy/#{repo.name}" %>><p class='details'><%= repo.name %></p></a>
        <br>
        <strong>Description: </strong><p class='details'><%= repo.description %></p><br>
        <p class='details'><%= markdown(truncate(repo.readme, length: 1000)) %><p>
      </div>
    </li>
  <% end %>
</ul>
